# http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
trim_trailing_whitespace = false
insert_final_newline = true

# Lua source code files
[**.lua]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
[**.md]
indent_size = 4
indent_style = space
trim_trailing_whitespace = false
insert_final_newline = true

# JSON files
[**.json]
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# YAML config files
[**.{yml,yaml}]
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
