# Set the default behavior to automatically normalize line endings
* text=auto

# Source files (explicitly always use LF on check-in)
# ============
*.lua text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf

# Luadoc output
# =============
*.html text
*.css text
