
#sidebar-index
{
	width: 400px;
	margin: 5px;
	padding: 10px;
	background-color: LightGray;
	float: left;
}

table
{
	width: 400px;
	border: 1px solid black;
	border-collapse: collapse;
}

td, th
{
	padding: 5px;
}

table tr:nth-child(odd)
{
	background-color: #EEE;
}

th
{
	text-align: left;
}

#index-content
{
	margin-left: 480px;
}

#index-footer
{
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}


.content
{
	float: left;
}

.content h2
{
	margin-bottom: 2px;
}

.content h1
{
	margin-bottom: 2px;
}

.content table
{
	border: 1px solid black;
	background-color: #CCC;
}

.content table th
{
	text-align: left;
	border-bottom: 1px solid black;
}

.footer
{
	clear: both;
}