
@mixin clickable {
  cursor: pointer;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-dark-1;
  color: white;
}
body, html {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{

  //width: 100vw;
  height: 100vh;
}
.page 
{
  padding: 20px;
}
.sidebar
{
  padding: 0 20px 0 20px;
  background-color: $color-dark-2;
  box-shadow: 2px 0px 10px #00000099;
  position: fixed;
  top: 0;
  height: 100%;
  width: 18%;
  left: 0;
  overflow-x: hidden;
  
  .sidebar-children {
    overflow-y: auto;
    position: absolute;
    top: 130px;
    bottom: 65px;
    left: 20px;
    right: 0;
    width: auto;

    .sidebar-item-children {
      padding-left: 15px;
      margin-left: 6px;
      border-left: 1px solid $color-border-dark;
    }
    .name-selected {
      color: #33AA33
    }
    .sidebar-item-content {
      display: flex;
      .name {
        @include clickable();
      }
      .collapse 
      {
        font-weight: bolder;
        margin-left: 2px;
        margin-right: 4px;
        width: 10px;
        @include clickable();
      }
    }
  }
  .version{
    background-color: $color-dark-3;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: auto;
    margin-left: -20px;
    .version-label
    {
      font-weight: bolder;
      display: block;
    }
    .version-text
    {
      display: block;
    }
    .updates-check
    {
      font-size: 0.9em;
      font-weight: bold;
      color: $color-border;
      display: block;
    }
    
  }
  .search
  {
    width: 100%;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    input {
      width: 100%;
      margin: 10px 0 10px 0;
      background-color: $color-dark-4;
      border: 1px solid $color-border-dark;
      color: white;
    }
  }
  
  @media only screen and (max-width: 1210px)
  {
	.sidebar .logo
	{
	  margin-top: 10px;
	}
	
	.sidebar .logo img
	{
	  display: none;
	}
  }
  
  .logo
  {
    padding: 10px 0px 20px 00px;
    text-align: center;
    width: 100%;
    img {
      width: 48px;
      height: 48px;  
      filter: drop-shadow(3px 3px 3px #000);
      position: relative;
      top: 10px;
    }
    .text
    {
      font-size: 40px;
      text-shadow: 3px 3px 3px #000;
      position: relative;
    }
  }
}
.page
{
  margin-left: 20%;
  text-shadow: 1px 1px 2px #000;
  overflow-y: auto;
}

.page-library, .page-type, .page-table
{
  table {
    border-collapse: collapse;
  }
  td {
    padding: 5px;
  }
  table, td {
    border: 1px solid white;
  }
}

.page-method
{
  .method-title
  {
    .realm-icon{
      display: inline-block;
    }
  }
}

.page-hook
{
  .hook-title
  {
    .realm-icon{
      display: inline-block;
    }
  }
}

.letter-icon
{
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 4px;
  border-radius: 10%;

  text-align: center;
  padding: 2px 2px 2px 2px;
  line-height: 90%;

  color: #FFFFFF;
  text-shadow: #474747 1px 1px 1px;
  font-size: 0.9em;
  font-weight: bold;

  background: #333;
}
.realm-icon
{
  width: 15px;
  min-width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 4px;
  border-radius: 10%;

  text-align: center;
  padding: 2px 2px 2px 2px;
  line-height: 90%;

  color: #FFFFFF;
  text-shadow: #474747 1px 1px 1px;
  font-size: 0.9em;
  font-weight: bold;

  &-client
  {
    background: linear-gradient(45deg, #dea909 50%, #dea909 50.001%);
  }
  
  &-server
  {
    background: linear-gradient(45deg, #03a9f4 50%, #03a9f4 50.001%);
  }
  
  &-shared
  {
    background: linear-gradient(45deg, #03a9f4 50%, #dea909 50.001%);
  }
}

.click-action
{
  cursor:pointer;
}
.accept-newlines
{
  white-space: pre-line;
}
.page-contributors
{
  padding-left: 60px;
  li {
    list-style-type: none;
    margin-bottom: 5px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
  }
  ul {
    margin-left: 0;
    padding-left: 20px;
  }
  .name {
    font-size: 20px;
  }
  .avatar {
    background-color: white;
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: top;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}