
@mixin clickable {
  cursor: pointer;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-dark-1;
  color: white;
}
body, html {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.card
{
  font-size: 0.9em;
  position: relative;
  .card-children
  {
    margin-left: 10px;
  }
  .card-title *
  {
    display: inline-block;
  }
}

.description
{
  padding-left: 20px;
}

.card-children .card
{
  border-top: 1px solid $color-border;
}

.sidebar
{
  background-color: $color-dark-2;
  box-shadow: 2px 0px 10px #00000099;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: stretch;
  .sidebar-children {
    overflow-y: auto;
    flex-grow: 1;
    margin: 5px 20px 5px 20px;
    .sidebar-item-children {
      padding-left: 15px;
      margin-left: 6px;
      border-left: 1px solid $color-border-dark;
    }
    .name
    {
      color: $color-menu;
      text-decoration: none;
    }
    .name-selected {
      color: $color-menu-selected;
    }
    .sidebar-item-content {
      display: flex;
      .name {
        @include clickable();
      }
      .collapse-placeholder {
        margin-left: 2px;
        margin-right: 4px;
        width:10px;
      }
      .collapse 
      {
        font-weight: bolder;
        margin-left: 2px;
        margin-right: 4px;
        width: 10px;
        @include clickable();
      }
    }
  }
  .version{
    background-color: $color-dark-3;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: .8em;
    .version-label
    {
      font-weight: bolder;
      display: block;
    }
    .version-text
    {
      display: block;
    }
    .updates-check
    {
      font-size: 0.9em;
      font-weight: bold;
      color: $color-border;
      display: block;
    }
    
  }
  .search
  {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    margin: 0 20px 0 20px;
    display:flex;
    input {
      flex-grow: 1;
      margin: 10px 0 10px 0;
      background-color: $color-dark-4;
      border: 1px solid $color-border-dark;
      color: white;
    }
    
  }
  
  @media only screen and (max-width: 1210px)
  {
	.sidebar .logo
	{
	  margin-top: 10px;
	}
	
	.sidebar .logo img
	{
	  display: none;
	}
  }
  
  .logo
  {
    padding: 10px 0px 20px 00px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    img {
      width: 48px;
      height: 48px;  
      filter: drop-shadow(3px 3px 3px #000);
    }
    .text
    {
      display:block;
      font-size: 40px;
      text-shadow: 3px 3px 3px #000;
    }
  }
}
.page
{
  text-shadow: 1px 1px 2px #000;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 70%;
  max-width: 95%;
}
.page-container
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.card-table
{
  table {
    border-collapse: collapse;
  }
  td {
    padding: 5px;
  }
  table, td {
    border: 1px solid white;
  }
}

.letter-icon
{
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 4px;
  border-radius: 10%;

  text-align: center;
  padding: 2px 2px 2px 2px;
  line-height: 90%;

  color: #FFFFFF;
  text-shadow: #474747 1px 1px 1px;
  font-size: 0.9em;
  font-weight: bold;

  background: #333;
}
.realm-icon
{
  width: 15px;
  min-width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 4px;
  border-radius: 10%;
  flex-shrink: 0;

  text-align: center;
  padding: 2px 2px 2px 2px;
  line-height: 90%;

  color: #FFFFFF;
  text-shadow: #474747 1px 1px 1px;
  font-size: 0.9em;
  font-weight: bold;

  &-client
  {
    background: linear-gradient(45deg, #dea909 50%, #dea909 50.001%);
  }
  
  &-server
  {
    background: linear-gradient(45deg, #03a9f4 50%, #03a9f4 50.001%);
  }
  
  &-shared
  {
    background: linear-gradient(45deg, #03a9f4 50%, #dea909 50.001%);
  }
}

.click-action
{
  cursor:pointer;
}
.accept-newlines
{
  white-space: pre-line;
}
.sf-src {
  color: #ffffff;
  font-weight: bold;
  float: right;
  text-align: right;
  font-size: 15px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.sf-reference {
  color: #059de3;
  font-weight: bold;
  text-decoration: none;
}
.sf-paramname {
  font-weight: bold;
}
.card-contributors
{
  padding-left: 60px;
  li {
    list-style-type: none;
    margin-bottom: 5px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
  }
  ul {
    margin-left: 0;
    padding-left: 20px;
  }
  .name {
    font-size: 20px;
  }
  .avatar {
    background-color: white;
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: top;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}

.pad-left-10
{
  padding-left: 10px;
}